{
  "openapi": "3.1.0",
  "info": {
    "title": "Arara API",
    "description": "API definitiva para comunicação via WhatsApp no Brasil. Simples, robusta e focada no desenvolvedor.",
    "version": "1.0.0",
    "contact": {
      "email": "suporte@ararahq.com"
    }
  },
  "servers": [
    {
      "url": "https://api.ararahq.com/api",
      "description": "Servidor de Produção"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "MessageRequest": {
        "type": "object",
        "required": [
          "receiver"
        ],
        "properties": {
          "receiver": {
            "type": "string",
            "description": "Número do destinatário no formato whatsapp:+55...",
            "example": "whatsapp:+5583991768778"
          },
          "templateName": {
            "type": "string",
            "description": "Nome do template cadastrado no dashboard",
            "example": "template_boas_vindas"
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de variáveis para preencher o template",
            "example": [
              "João",
              "R$ 100,00"
            ]
          },
          "body": {
            "type": "string",
            "description": "Corpo da mensagem (apenas para mensagens de sessão)"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "description": "Data e hora para agenciamento (ISO 8601)"
          }
        }
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ara_msg_k9Bf2XqP"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "SENT_TO_PROVIDER",
              "DELIVERED",
              "FAILED"
            ]
          },
          "receiver": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "diagnostic": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "whatHappened": {
                "type": "string"
              },
              "howToAct": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/messages": {
      "post": {
        "summary": "Enviar Mensagem",
        "description": "Envia uma mensagem de template ou texto livre.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Mensagem aceita para processamento",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado"
          },
          "422": {
            "description": "Erro de validação (Escudo de Erros)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/templates": {
      "get": {
        "summary": "Listar Templates",
        "description": "Retorna uma lista de todos os templates aprovados e pendentes da organização.",
        "responses": {
          "200": {
            "description": "Lista de templates carregada com sucesso."
          }
        }
      },
      "post": {
        "summary": "Criar Template",
        "description": "Submete um novo template para aprovação da Meta. Inclui suporte a Smart Links.",
        "responses": {
          "201": {
            "description": "Template criado e enviado para análise."
          }
        }
      }
    },
    "/v1/webhooks": {
      "post": {
        "summary": "Configurar Webhook",
        "description": "Define a URL para recebimento de eventos (status_updated, received).",
        "responses": {
          "200": {
            "description": "Webhook configurado com sucesso."
          }
        }
      }
    }
  }
}